<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>

  <body>
    <%- include("./partials/nav.ejs") %>
    <main>
      <%- include("./partials/summary.ejs") %> <%-
      include("./partials/skills.ejs") %>
      <%-
      include("./partials/slider.ejs") %>
      <%-
      include("./partials/contact.ejs") %>
    </main>
  </body>
</html>
